/* Style taken from PublicMoviesList.css */

#favoritesContainer {
    margin-top: 70px;
}

.favoriteMoviesListHeader {
    text-align: center;
    color: white;
}

#noFavoriteMovies {
    color: white;
    text-align: center;
}

.imagecontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagebox {
    color: white;
    margin: 10px;
    font-size: 1.2em;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
}

.imagebox p {
    text-align: center;
    margin: 5px;
}

/* Zoom of the photos */
.imagezoombox {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.imagebox .imagezoombox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s;
}

.imagebox .imagezoombox img:hover {
    transform: scale(1.3);
}

.imagebox:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
