.logindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.loginform {
    display: flex;
    flex-direction: column;
}

.loginlabel {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #ead8ed;
}

.logininput {
    margin-top: 8px;
    font-size: 16px;
    background-color: #EEEEEE;

}

#signInButton {
    font-weight: bold;
    margin-top: 24px;
    background-color: #ae87ca74;
    padding: 4px 8px;
    border-radius: 4px;

}

#signInButton:hover {
    font-weight: bold;
    margin-top: 24px;
    background-color: #ae87caae;
    padding: 4px 8px;
    border-radius: 4px;
    color: rgb(42, 6, 47);
    transition: all 250ms;


}
