.registerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.registerfrom {
    display: flex;
    flex-direction: column;
}

.registerlabel {
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #ead8ed;
}

.registerinput {
    margin-top: 8px;
    font-size: 16px;
    background-color: #EEEEEE;
}

#signUpButton {
    font-weight: bold;
    margin-top: 24px;
    background-color: #ae87ca74;
    padding: 4px 8px;
    border-radius: 4px;
}
#signUpButton:hover {
    font-weight: bold;
    margin-top: 24px;
    background-color: #ae87caae;
    padding: 4px 8px;
    border-radius: 4px;
    color: rgb(42, 6, 47);

}